
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sofia sans;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    background: rgb(0, 255, 221);
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin: 0;
}
header .header-left{
    display: flex;
    align-items: center;
}
header .header-left ul{
    display: flex;
}
header .header-left nav{
   margin-left: 80px;
}
header .header-left ul li a{
   display: block;
   color: rgb(42, 0, 252);
   padding: 10px 25px;
   font-size: 15px;
   transform: 0.5s;
}
header .header-left ul li a:hover,
header .header-left ul li a.active{
    color: red;
}
nav .left-signup a{
    background-color: rgb(255, 132, 0);
    padding: 5px 8px;
    border-radius: 8px;
    color: white;
}
nav .left-signup{
    display: none;
}

header .header-right{
    display: flex;
    align-items: center;
}

header .header-right .right-signup a{
    background-color: rgb(255, 132, 0);
    padding: 5px 8px;
    border-radius: 8px;
    color: white;
    display: inline-block;
}
header .header-right .hamburger i{
    cursor: pointer;
    color: white;
    margin-left: 10px;
    display: none;
}

@media only screen and (max-width: 1000px){
    header{
        padding: 0px 10px;
    }
    header .header-right .hamburger i{
        display: block;
    }
    header .header-left nav{
        margin: 0;
        padding: 10px;
        background-color: rgb(0, 255, 221);
        width: 100%;
        position: absolute;
        text-align: center;
        left: 0;
        top: 100%;


    }
    header .header-left nav.active{
        top: 50px;
    }
    header .header-left nav ul{
        display: block;
    }

}

@media only screen and (max-width: 500px){
    nav .left-signup{
        display: block;
        margin: 10px 0;
    }
    header .header-right .right-signup{
        display: none;
    }
}

